.footer {
    background-image: url(../img/headerbg.jpg);   
    background-size: contain;
    background-position: 0 0;
    background-repeat: repeat-y;
    height: auto;    
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 40px;
    background: #333333;
    
}
.footer-copyright {
    color: #FFF;
    line-height: 1.2;
    margin-bottom: 20px;
}
.footer-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
}
