.portfolio {
    padding: 60px 0 95px;
    background-color: #f4f8f9;    
    padding-top: 35px;
    padding-bottom: 100px;   

    @media (min-width: 768px) {        
        padding: 80px 0;
    }
    @media (min-width: 1200px) {
        padding: 120px 0;
    }
}

.portfolio-card-toggle {
    display: none;
    @media (min-width: 768px) {
        margin-bottom: 45px;
        position: relative;
        max-width: unset;
        display: block;
        padding-top: 0;
        padding-left: 0;
        width: auto;
    }
    @media (min-width: 1200px) {
        
    }
}

.portfolio-block-toggle__item {
   
    @media (min-width: 768px) {
        font-size: 24px;
        font-weight: 700;   
        line-height: 1.2;
        margin-right: 50px;
        color: #8fa5ae;
        line-height: 1.2;
        border: none;
            &:hover, &:active {
               color: red; 
            }
            &:last-child {
                margin-right: 0;
            }
    }
   @media (min-width: 1200px) {
        font-size: 28px;
        margin-right: 65px;
    } 
}
.control-active {
    @media (min-width: 768px) {
         color: #000;   
    }   
}    
.portfolio-card__content {    
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {          
        
    }
   @media (min-width: 1200px) {
        
    } 
}
#portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    

    @media (min-width: 768px) { 
        max-width: 750px;        
        width: 100%;        
         margin-left: auto;
        margin-right: auto;        
    }
   @media (min-width: 1200px) {
        max-width: 100%;        
    } 
}   
   
.portfolio-card__item {
    display: block;
    width: 100%; 
    margin-bottom: 40px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;    
        
    @media (min-width: 768px) {                            
        margin-bottom: 0;          
        margin-left: 0;
        margin-right: 0;
        
        &:last-child {
            display: none;            
        }          
    }    
   @media (min-width: 1200px) {
        &:last-child {
        display: block;         
       } 
    }
}    
.portfolio-card__item--big {
    display: block;
    
    @media (min-width: 768px) {   
        margin-bottom: 30px;
        width: 50%;
        margin-bottom: 40px;  
        
    }
   @media (min-width: 1200px) {       
        max-width: 555px;
        width: 50%;
        margin-bottom: 57px;
    } 
}

.portfolio-card__descpip {

    @media (min-width: 768px) {
            
    }
   @media (min-width: 1200px) {
        
    } 
}
.title-4.portfolio-card__descpip-title {       
    margin-bottom: 10px;
        &:hover, &:active {
            color: red;
        }
    
    @media (min-width: 768px) {
         margin-bottom: 15px;          
    }
   @media (min-width: 1200px) {
        margin-bottom: 15px;
    } 
}
.low {
    @media (min-width: 768px) {
        font-size: 22px;
    }
}
.portfolio-card__descpip-details {
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    @media (min-width: 768px) {
     font-size: 18px;       
    }
   @media (min-width: 1200px) {
        font-size: 22px;
    } 
}
.middle {
    @media (min-width: 1200px) {
        font-size: 26px;
    } 
}
.small {
    @media (min-width: 1200px) {
        font-size: 20px;
    } 
}
.button {   
    display: block;
    font-size: 20px;
    font-family: "Mplus1p";
    color: rgb(3, 155, 229);
    text-decoration: underline;
    line-height: 1.2;
    border: none;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 0; 
    border-bottom: 1px solid rgb(3, 155, 229);  
        &:hover {
          color: red;  
          border-bottom: 1px solid red;
        }

    @media (min-width: 768px) {
        margin-top: 40px;
    }
   @media (min-width: 1200px) {
        display: none;
    } 
}
.portfolio-card__poster .more-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    border-radius: 30px;
    background-color: #FFF;
    border: 2px solid #FFF;
    color: red;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0;
    transition: .3s;
}
.portfolio-card__poster {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;

    @media (min-width: 1200px) {
        margin-bottom: 30px;        
    } 
}
.portfolio-card__poster:before {
    content: "";
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(201, 186, 53, 0.6);
    transform: translateY(100%); 
    transition: .3s;
}
   
.portfolio-card__poster:hover:before {
    display: block;
    transform: translateY(0%); 
    transition: .3s;
}
.portfolio-card__poster:hover .more-btn {
    display: block;
    opacity: 1;
    transition: .5s;
    &:hover {
        background-color: rgba(255, 0, 0, .3);
        border-color: rgba(255, 0, 0, .3);
        color: #FFF;
    }
    &:active {
        background-color: rgba(255, 0, 0, .95);
    }
}
